@use "../../scss/index" as *;

.section {
   max-width: $max-width;
   margin: 0 auto;
   padding: 0 $main-padding;
}

.inputButtonContainer {
   display: flex;
   flex-direction: column;

   @include tablet {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
   }

   @include desktop {
      margin: 20px 0;
   }
}

.addEventButton {
   margin-top: 10px;
   padding: 10px 10px;
   background-color: $color-green;
   text-align: center;
   color: $color-white;
   font-size: 2rem;
   font-weight: 700;
   letter-spacing: .5px;
   border-radius: $border-radius;

   @include tablet {
      margin-top: 0;
      padding: 6px 20px;
   }
}

.headerButtonContainer {
   margin: 20px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;

   @include desktop {
      margin: 30px 0;
   }
}

.header {
   color: $color-black;
   font-size: 2rem;

   .headerBr {
      @include phone {
         display: none;
      }
   }
}

.viewAllButton {
   color: $color-purple;
   font-size: 1.6rem;
}

.buttonsContainer {
   margin: 20px 0;

   @include desktop {
      margin: 30px 0;
   }
}

.dayButton {
   padding: 7px 15px;
   color: $color-gray;
   font-size: 1.6rem;
   font-weight: 700;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.dayButtonActive {
   color: $color-black;
   border-bottom: 2px solid $color-black;
}

.cardsContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 0;
   gap: 25px 0;

   @include tablet {
      flex-direction: row;
      gap: 25px 15px;
      // flex-wrap: wrap;
   }

   @include desktop {
      margin: 30px 0;
   }
}