@use '../../scss/index' as *;

.upcomingEventsSection {
   max-width: 500px !important;
   margin: 0 auto;

   @include tablet {
      max-width: $max-width !important;
   }
}

.headerButtonContainer {
   margin: 30px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header {
   color: $color-black;
   font-size: 2rem;

   .headerBr {
      @include tablet {
         display: none;
      }
   }
}

.viewAllButton {
   color: $color-purple;
   font-size: 1.6rem;
}

.buttonsContainer {
   margin: 20px 0;

   @include desktop {
      margin: 30px 0;
   }
}

.dayButton {
   padding: 7px 15px;
   color: $color-gray;
   font-size: 1.6rem;
   font-weight: 700;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.dayButtonActive {
   color: $color-black;
   border-bottom: 2px solid $color-black;
}
