$color-purple: #6064ca;
$color-green: #74d189;
$color-black: #141414;
$color-white: #fff;
$color-gray: #c3c3c3;
$color-red: rgb(255, 56, 56);

$max-width: 1200px;
$main-padding: 20px;
$nav-height: 100px;

$border-radius: 16px;

$cards-gap-x: 15px;
$cards-gap-y: 25px;
