$color-purple: #6064CA;
$color-green: #74D189;
$color-black: #141414;
$color-white: #fff;
$color-gray: #C3C3C3;
$color-red: rgb(255, 56, 56);

$max-width: 1200px;
$main-padding: 20px;

$border-radius: 16px;