@use "../../scss/index" as *;

.container {
   max-width: $max-width;
   padding: 0 $main-padding;
   position: relative;
   height: 100px;
   display: flex;
   align-items: center;
   margin: 0 auto;
   justify-content: center;
}

.menuButton {
   position: absolute;
   left: 0;
   padding: 5px $main-padding;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: 0;
   cursor: pointer;
}

.menuIcon {
   color: $color-black;
   font-size: 2.5rem;

   @include phone {
      font-size: 2.8rem;
   }

   @include tablet {
      font-size: 3rem;
   }
}

.logo {
   color: $color-black;
   font-weight: 700;
   font-size: 2.5rem;

   @include phone {
      font-size: 2.8rem;
   }

   @include tablet {
      font-size: 3rem;
   }
}

.buttonContainer {
   position: absolute;
   right: $main-padding;
   display: none;

   @include tablet {
      display: block;
   }
}

.authButton {
   padding: 5px 10px;
   font-size: 1.5rem;
   font-weight: 700;
   border-radius: $border-radius;
   border: 0;
   text-transform: uppercase;
   cursor: pointer;
}

.loginButton {
   background-color: transparent;
   color: $color-black;
   border: 3px solid $color-white;
   margin-right: 10px;
}

.signupButton {
   background-color: $color-green;
   color: $color-white;
   border: 3px solid $color-green;
}