@use "../../scss/index" as *;

.nav {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: $color-white;
   -webkit-box-shadow: 0px 15px 40px -45px rgba(43, 43, 43, 1);
   -moz-box-shadow: 0px 15px 40px -45px rgba(43, 43, 43, 1);
   box-shadow: 0px 15px 40px -45px rgba(43, 43, 43, 1);
   z-index: 998;
}

.container {
   max-width: $max-width;
   padding: 0 $main-padding;
   position: relative;
   height: $nav-height;
   display: flex;
   align-items: center;
   margin: 0 auto;
   justify-content: center;
}

.menuButton {
   position: absolute;
   left: 0;
   padding: 5px $main-padding;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: 0;
   cursor: pointer;
}

.menuIcon {
   color: $color-black;
   font-size: 2.5rem;

   @include phone {
      font-size: 2.8rem;
   }

   @include tablet {
      font-size: 3rem;
   }
}

.logo {
   display: flex;
   align-items: center;
   color: $color-black;
   font-weight: 700;
   font-size: 2.5rem;

   .logoIcon {
      color: $color-green;
   }

   @include phone {
      font-size: 2.8rem;
   }

   @include tablet {
      font-size: 3rem;
   }
}

.buttonContainer {
   position: absolute;
   right: $main-padding;
   display: flex;
   align-items: center;
}

.authButton {
   padding: 5px 10px;
   font-size: 1.5rem;
   font-weight: 700;
   border-radius: $border-radius;
   border: 0;
   text-transform: uppercase;
   cursor: pointer;
}

.loginButton {
   background-color: transparent;
   color: $color-black;
   border: 3px solid transparent;
   margin-right: 10px;
   display: none;

   @include tablet {
      display: block;
   }
}

.signupButton {
   background-color: $color-green;
   color: $color-white;
   border: 3px solid $color-green;
   display: none;

   @include tablet {
      display: block;
   }
}

.logoutButton {
   display: none;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   color: $color-black;
   border: 3px solid transparent;

   @include tablet {
      display: flex;
   }

   .authLogoutIcon {
      margin-right: 5px;
      font-size: 1.8rem;
   }
}

.user {
   height: 30px;
   width: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid $color-purple;
   border-radius: 50%;
   background-color: $color-white;

   @include phone {
      height: 35px;
      width: 35px;
   }

   @include tablet {
      display: none;
   }

   .userLetter {
      color: $color-purple;
      font-weight: 700;
      font-size: 1.6rem;

      @include phone {
         font-size: 1.7rem;
      }
   }
}