@use "../../../scss/index" as *;

$about-card-gap-x: 15px;
$about-card-gap-y: 15px;

.aboutSection {
   background-color: darken($color-white, 2.5%);
}

.aboutContainer {
   max-width: 420px !important;
   padding-top: 30px !important;
   padding-bottom: 30px !important;

   @include tablet {
      max-width: $max-width !important;
   }
}

.text {
   color: $color-purple;
   font-size: 1.2rem;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 10px;

   @include phone {
      font-size: 1.4rem;
   }
}

.headerText {
   color: $color-black;
   font-size: 2.4rem;
   font-weight: 700;
   text-align: center;
   margin-bottom: 30px;

   @include phone {
      font-size: 2.8rem;
   }

   @include desktop {
      font-size: 3rem;
   }
}

.cardsContainer {
   display: flex;
   flex-direction: column;
   gap: $about-card-gap-y 0;

   @include tablet {
      flex-direction: row;
      gap: 0 $about-card-gap-x;
   }
}

.card {
   display: block;
   padding: 20px 25px;
   background-color: $color-white;
   border-radius: $border-radius;

   @include tablet {
      flex-basis: calc(100% / 3 - 2 * $about-card-gap-x / 3);
   }

   .cardIconContainer {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 12px;
      background-color: lighten($color-purple, 30%);
      border-radius: $border-radius;
      margin-bottom: 15px;

      .cardIcon {
         font-size: 2rem;
         color: $color-purple;
      }
   }

   .cardHeaderText {
      font-size: 2rem;
      font-weight: 700;
      color: $color-black;
      margin-bottom: 15px;
   }

   .cardText {
      font-size: 1.6rem;
      color: darken($color-gray, 15%);
   }
}