@use '../../scss/index' as *;

.container {
   display: flex;
   padding: 0 15px 0 5px;
   background-color: transparent;
   border: 1px solid $color-gray;
   border-radius: $border-radius;
}

.icon {
   color: darken($color-gray, 25%);
   font-size: 1.6rem;
}

.input {
   width: 100%;
   font-size: 1.8rem;
   color: $color-black;
   border: 0;
   outline: none;
}

.searchButton {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}
